:root {
    --border-rad: 65px;
}

body, html {
    background-color: black;
}

.tani--device-wrapper {
    width: 335px;
    margin: 10px auto;
    border-radius: var(--border-rad);

    /* TODO: delete when unused */
    height: 620px;
    background-color: white;
}

.tani--header {
    height: 15%;
    border-radius: 20px;

    /* https://shadows.brumm.af/ */
    box-shadow:
            0px 0px 3.6px rgba(0, 0, 0, 0.07),
            0px 0px 9.1px rgba(0, 0, 0, 0.046),
            0px 0px 18.6px rgba(0, 0, 0, 0.033),
            0px 0px 38.3px rgba(0, 0, 0, 0.024),
            0px 0px 105px rgba(0, 0, 0, 0.014);
}

.tani--device-head {
    height: 40px;
    margin: 0px 10px;
}

.tani--navbar {
    display: flex;
    justify-content: space-between;

    margin: 0px 28px;

    .tani--search-bar-wrapper {
        display: flex;
        align-items: center;

        background-color: #f7f7f7;

        border: 1px solid gray;
        border-radius: 20px;
        height: 38px;

        padding: 0px 4px;

        .tani--search-bar-icon {
            background-color: #f7f7f7;
            width: 35px;
        }

        input {
            background-color: #f7f7f7;
            color: #333;

            outline: none;
            border: none;

            width: 170px;
        }
    }
}

.tani--user-account {
    width: 40px;
    border: 1px solid gray;
    border-radius: 50%;

    .tani--user-account-icon {
    }
}

.tani--body {
    height: 75%;

    .tani--body-banner {
        height: 30%;
        background-color: blue;
    }

    .tani--body-contents {
        height: 70%;

        .tani--body-menu {
            width: 85%;
            height: 20%;

            background-color: brown;
            border-radius: 20px;

            margin: 0px auto;
            margin-top: -35px;
            padding: 0px 15px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .tani--body-menu-wallet {
                height: 100%;
                width: 55%;

                background-color: magenta;

                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .tani--body-menu-options {
                height: 100%;
                width: 45%;

                background-color: purple;
            }
        }

        .tani--body-main-content {
            height: 90%;
        }
    }
}

.tani--footer {
    height: 10%;

    /* https://shadows.brumm.af/ */
    box-shadow:
            0px 0px 3.6px rgba(0, 0, 0, 0.07),
            0px 0px 9.1px rgba(0, 0, 0, 0.046),
            0px 0px 18.6px rgba(0, 0, 0, 0.033),
            0px 0px 38.3px rgba(0, 0, 0, 0.024),
            0px 0px 105px rgba(0, 0, 0, 0.014);

    display: flex;
    align-items: center;
    justify-content: center;

    .tani--footer-wrap {
        margin: 0px 5px;
        width: 15%;
        height: 70%;
        background-color: red;
    }
}
